{% extends "page.html" %}

{% block title %}{{page_title}}{% endblock %}

{% block stylesheet %}
{{super()}}
{% endblock %}

{% block params %}
{{super()}}
data-base-url="{{base_url | urlencode}}"
{% endblock %}

{% block headercontainer %}

<div class="pull-left nbext-page-title-wrap">
	<span class="nbext-page-title">
		Version Control
		(<a href="{{base_url}}nbextensions/nbextensions_configurator/rendermd/nbextensions/nbextensions_configurator/readme.md">more information</a>)
	</span>
</div>

{% endblock %}

{% block header %}
{% endblock %}

{% block script %}

	{{super()}}

	<script type="text/javascript" charset="utf-8">
		require(['nbextensions/vcs_integration/tree/ui'], function (vcs_tree) {
				vcs_tree.build_page();
			});
		});
	</script>
{% endblock %}
